# Dependências
node_modules/

# Banco de dados local
*.db
*.sqlite

# Logs
*.log
npm-debug.log*

# Sistema operacional
Thumbs.db
.DS_Store
desktop.ini

# Build / cache
dist/
.cache/

# Variáveis de ambiente
.env
.env.local
